@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    font-family: poppins;
    margin: 0;
    padding: 0;
}

.main-login {
    min-height: 100vh;
    min-width: 100vw;
    overflow-x: hidden;
    background-color: #EDF2F8 ;
}

.login-container {
    height: 75vh;
    width: 70%;
    background: linear-gradient(to right, #2DAAE1 50%, #fff 50%) ;
    margin: 6rem auto;
    box-shadow: 0.5rem 0.5rem 2rem -1rem rgb(165, 162, 160);
    /* border-radius: 20px; */
    display: flex;
    justify-content: center;
    align-items: center;

}
.login-left,
.login-right {
    /* border: 1px solid red; */
    width: 100%;
    height: 80%;
    margin: 4rem 4rem;
}

.text {
    color: #143B6C;
    font-size: 30px;
    font-weight: 700;
}

.header {
    font-size: 60px;
}
.psu-logo {
    width: 100%;
    /* border: 1px solid yellow; */
}
.psu-logo img{
    /* border: 1px solid purple; */
    width: 100%;
}
.login-left {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    
}

.login-right {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.field {
    /* border: 1px solid brown; */
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 70%;
}
.field input {
    padding-left: 1rem;
    height: 3rem;
    width: 70%;
    margin: 0.75rem 0.75rem;
    background-color: rgb(237,245,243);
    border: none;
    outline: none;
}
.login-btn {
    margin: 1rem;
    font-size: 18px;
    font-weight: 600;
    border-radius: 1.5rem;
    border: none;
    color: white;
    background-color: hsl(120, 73%, 75%);
    width: 50%;
    height: 50px;
    cursor: pointer;
    transition: all .5s ease;
}

.login-btn:hover {
    background-color: hsl(120, 76%, 58%);
    color: white;
    box-shadow: rgb(204, 238, 159) 0px 7px 29px 0px;
   }

.login-btn:active {
    letter-spacing: 1px;
    background-color: hsl(120, 76%, 58%);
    color: white;
    box-shadow: darkgreen 0px 0px 0px 0px;
    transform: translateY(3px);
    transition: 100ms;
}

.text-box {
    /* border: 1px solid red; */
    text-align: center;
    margin-bottom: 3rem;
}

.dot-wave {
    --uib-size: 50px;
    --uib-speed: 0.6s;
    --uib-color: #0d0909;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: var(--uib-size);
    height: calc(var(--uib-size) * 0.17);
    padding-top: calc(var(--uib-size) * 0.34);
  }
  
  .dot-wave__dot {
    flex-shrink: 0;
    width: calc(var(--uib-size) * 0.17);
    height: calc(var(--uib-size) * 0.17);
    border-radius: 50%;
    background-color: var(--uib-color);
    will-change: transform;
  }
  
  .dot-wave__dot:nth-child(1) {
    animation: jump824 var(--uib-speed) ease-in-out
      calc(var(--uib-speed) * -0.45) infinite;
  }
  
  .dot-wave__dot:nth-child(2) {
    animation: jump824 var(--uib-speed) ease-in-out
      calc(var(--uib-speed) * -0.3) infinite;
  }
  
  .dot-wave__dot:nth-child(3) {
    animation: jump824 var(--uib-speed) ease-in-out
      calc(var(--uib-speed) * -0.15) infinite;
  }
  
  .dot-wave__dot:nth-child(4) {
    animation: jump824 var(--uib-speed) ease-in-out infinite;
  }
  
  @keyframes jump824 {
    0%,
    100% {
      transform: translateY(0px);
    }
  
    50% {
      transform: translateY(-200%);
    }
  }

  .Wrapper {
    border: 1px solid red;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  
  .loading-text {
    margin-top: 0.75rem;
  }